<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WordSolver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E7C5E3171D90B76400C27E58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7C5E32B1D90B76600C27E58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7C5E3361D90B76600C27E58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
